<header class="main-header" [class.visible]="visible">
  <div class="header-content">
    <a routerLink="/" class="header-logo">REIGNITE</a>
    <nav class="header-nav">
      <a routerLink="/" class="nav-link" [class.active]="activePath === '/'">Početna</a>
      <a routerLink="/shop" class="nav-link" [class.active]="activePath === '/shop'">Prodavnica</a>
      <a routerLink="/projects" class="nav-link" [class.active]="activePath === '/projects'">Projekti</a>
    </nav>
    @if (isAdmin()) {
      <a routerLink="/admin" class="header-button">Admin Panel</a>
    } @else if (isAuthenticated()) {
      <a routerLink="/account" class="header-button">Moj Račun</a>
    } @else {
      <a routerLink="/login" class="header-button">Prijavi Se</a>
    }
  </div>
</header>
